header {
    background: linear-gradient(36deg, #326dda 16%, #1348C0 70%);
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    padding: 20px;
}

ul{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

li{
    margin-left: 60px;
}

a {
    color: #fff;
}

footer {
    display: flex;
    background: linear-gradient(36deg, #326dda 16%, #1348C0 70%);
    display: flex;
    justify-content: space-between;
}