* {
    font-family: 'Open Sans', sans-serif;
}

header {
    background: linear-gradient(36deg, #326dda 16%, #1348C0 70%);
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    padding: 20px;
}

ul{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

li{
    margin-left: 60px;
}

a {
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
}
.imagens {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    
}

footer {
    background: linear-gradient(36deg, #326dda 16%, #1348C0 70%);
    display: flex;
    flex-direction: column;
}

section h4 {
    display: flex;
    justify-content: center;
    color: #fff;
}

contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section ul {
    display: flex;
    justify-content: center;
}